#nav-logo {
position: absolute;
width: 200px;
height: 200px;
left: 400px;
top: 0px;
 
/*background: url("../../img/Logo_White.png");*/
filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.33));
border-radius: 11px; 
}

.welcome {
position: absolute;
width: 305px;
height: 98px;
left: 650px;
top: 62px;
/* font-family: Roboto; */
font-style: normal;
font-weight: 650;
font-size: 40px;
line-height: 33px;

color: #F0F0E3;

text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}


@media only screen and (max-width: 900px) {

#nav-logo {
position: absolute;
width: 95px;
height: 95px;
left: 153px;
top: 5px;

filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.33));
border-radius: 11px; 
    }
}