.wrapper {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    /* height: 1024px; */
    
    background: #F0F0E3;


background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F0F0E3 78.12%), url("../../img/beans.jpg");
background-size: 25vw;

}