.wrapper {
position: absolute;
width: 1900px;
height: 1111px;
left: 0px;
top: -7px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F0F0E3 78.12%), url("../../img/searchBackground.jpeg");
}