.card-header{
    background: #F0F0E3;
}

.searching {
    position: absolute;
    width: 834px;
    height: 911px;
    left: 89px;
    top: 160px;
    
    background: #F0F0E3;
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 900px) {

    .searching {
        background-size: 225%;
        height: 40vh;
    }


}