.shopLogo {
  width: 120px;
}

.shopname {
  top: 10px;
  font-size: 40px;
  width: 500px;
}

.mapicon {
  border-radius: 25%;
  width: 100px;
  height: auto;
}

.map {
  left: -100px;
}

.address {
  width: 200px;
}
