.list-group-item {
  position: relative;
  display: inline;
    
}
.logo {
  border-radius: 50%;
  float: left;
  padding: 5px;
  
}

.everything {
      white-space: nowrap;
      justify-content: center;
}
   
.everything *{
    display: inline;
   
}

.detail {
  white-space: nowrap;
}
.drink-type {
  text-align: center; 
  border-bottom: 1px solid; 
  position: relative;
}

.category {  
  padding:  5px;
  border: 5px;
  font-size: 20px;
  position: relative;
  /* left: 10px; */
  margin: auto 100px;
  height: 20px;  
  /* border-bottom: 2px solid; */
  
}
.drink-details {
  top: -10px;
  padding:  5px;
  border: 5px;
  font-size: 15px;
  position: relative;
  /* left: 10px; */
  margin: auto 50px;
  height: 10px; 
}

.drink-price {
  text-align: center; 
  border-bottom: 1px solid; 
  border-left: 1px solid;
  float: right;
  
}
.price {
  top: -15px;
  padding:  15px;
  /* margin: 5px; */
  border: 5px;
  /* font-size: 15px; */
  position: relative;
  left: 100px;
  /* margin: auto 150px auto 100px; */
  height: 10px; 
  
 }
.drink-ratings {
  top: -30px;
  float: right;
  padding:  5px;
  border: 5px;
  /* font-size: 15px; */
  position: relative;
  /* left: 10px; */
  margin: auto 70px auto 70px;
  /* height: 10px;  */
}

/* .list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
